In [4]:
import pandas as pd
import ast

In [3]:
articles = pd.read_csv("../files/criminal_hn_articles.csv")
articles.head()

,article_id,title,content,relationships
0,11,"[[u'Pasajeros', u'none'], [u'asaltantes', u'no...","[[[u'PUERTO', u'B-City'], [u'CORTES', u'I-City...","[[{u'tag': u'B-City', u'word': u'puerto cortes..."
1,12,"[[u'Fallece', u'none'], [u'comerciante', u'non...","[[[u'JUTICALPA', u'B-City'], [u',', u'none'], ...","[[{u'tag': u'B-City', u'word': u'juticalpa'}, ..."
2,13,"[[u'Por', u'none'], [u'venganza', u'none'], [u...","[[[u'EL', u'B-City'], [u'NEGRITO', u'I-City'],...","[[{u'tag': u'B-City', u'word': u'el negrito'},..."
3,16,"[[u'Campesinos', u'none'], [u'hieren', u'none'...","[[[u'COLON', u'B-State']], [[u'-', u'none'], [...","[[{u'tag': u'B-City', u'word': u'sonaguera'}, ..."
4,20,"[[u'Cae', u'none'], [u'banda', u'none'], [u'de...","[[[u'TEGUCIGALPA', u'B-City']], [[u'-', u'none...","[[{u'tag': u'B-Col', u'word': u'20 de noviembr..."

In [5]:
articles.loc[:,"title"] = articles.title.apply(lambda x: ast.literal_eval(x))
articles.loc[:,"content"] = articles.content.apply(lambda x: ast.literal_eval(x))

In [24]:
data = []
for _, article in articles.iterrows():
    #title
    has_entity =  "B" in [w[1][0] for w in article.title]

    row = {
        "art_id": article.article_id,
        "sent_id": -1,
        "sentence": " ".join([w[0] for w in article.title]),
        "has_entity": has_entity
    }
    if has_entity:
        data.append(row)
    
    #content
    for sent_id, sent in enumerate(article.content):
        has_entity =  "B" in [w[1][0] for w in sent]
        row = {
            "art_id": article.article_id,
            "sent_id": sent_id,
            "sentence": " ".join([w[0] for w in sent]),
            "has_entity": has_entity
        }
        if has_entity:
            data.append(row)
    
sentences_df = pd.DataFrame(data)
sentences_df.head()

,art_id,has_entity,sent_id,sentence
0,11,True,0,"PUERTO CORTES , Cortés"
1,11,True,1,- Un taxista perdió la vida de varios balazos ...
2,11,True,3,A eso de las 4 : 30 de la tarde del pasado dom...
3,11,True,4,Cuando se acercaban al sitio conocido como “ T...
4,12,True,0,"JUTICALPA , Olancho"

In [25]:
sentences_df.tail()

,art_id,has_entity,sent_id,sentence
576,2475,True,2,Los detenidos se dedicarían a cobrar extorsion...
577,2485,True,-1,Tres heridos deja balacera en Tocoa
578,2485,True,0,Tres personas heridas dejó una balacera ocurri...
579,2500,True,-1,Fallece uno de los atacados en Tocoa
580,2500,True,0,Una de las personas que resultó herida este mi...

In [27]:
sentences_df.to_csv("../files/criminal_sentences.csv",index=False, encoding='utf-8')